<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSSeguridadFraude.AccesoDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MSSeguridadFraude.AccesoDatos.Properties.Settings>
            <setting name="MSSeguridadFraude_AccesoDatos_ConfiguracionCentralizada_ConfiguracionCentralizada"
                serializeAs="String">
                <value>http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/ConfiguracionCentralizada.asmx</value>
            </setting>
            <setting name="MSSeguridadFraude_AccesoDatos_CodigoTrabajoWS_Configuracion"
                serializeAs="String">
                <value>http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/Configuracion.asmx</value>
            </setting>
            <setting name="MSSeguridadFraude_AccesoDatos_WsReglasNegocio_ServicioReglasNegocio"
                serializeAs="String">
                <value>http://rtq18617407.bgr.com/ServicioReglasNegocio/ServicioReglasNegocio.svc</value>
            </setting>
            <setting name="MSSeguridadFraude_AccesoDatos_WSIdentificadorUnico_ServicioIdentificadorUnico"
                serializeAs="String">
                <value>http://tcsuio068536.uio.bpichincha.com/ServicioIdentificadorUnico/ServicioIdentificadorUnico.svc</value>
            </setting>
            <setting name="MSSeguridadFraude_AccesoDatos_WsAnalisisFraude_FAWebService"
                serializeAs="String">
                <value>http://bgr.cloud.vusecurity.com:80/services/FraudAnalysisWS</value>
            </setting>
        </MSSeguridadFraude.AccesoDatos.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
