
*.vsidx
*.cache
*.dll
*.pdb
*.txt
*.cache
*.cache
/.vs/MSSoftToken/v17/.suo
*.xml
/MSSeguridadFraude.Negocio/bin/Debug/MSSeguridadFraude.Negocio.pdb
/MSSeguridadFraude.Negocio/bin/Debug/MSSeguridadFraude.Negocio.dll
/MSSoftToken/bin/MSSoftToken.pdb
/MSSoftToken/bin/MSSoftToken.dll
/MSSoftToken/obj/Debug/MSSoftToken.dll
/MSSoftToken/obj/Debug/MSSoftToken.csproj.AssemblyReference.cache
/MSSoftToken/obj/Debug/MSSoftToken.pdb
/MSSeguridadFraude.Comun/obj/Debug/MSSeguridadFraude.Comun.csproj.AssemblyReference.cache
/MSSeguridadFraude.Comun/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MSSeguridadFraude.Comun/obj/Debug/build.force
/MSSeguridadFraude.Negocio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MSSeguridadFraude.Negocio/obj/Debug/build.force
/MSSoftToken/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MSSoftToken/obj/Debug/build.force
