<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="UrlServicioConfiguracionCentralizada" value="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/ConfiguracionCentralizada.asmx" />
	<add key="UrlServicioConfiguracion" value="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/Configuracion.asmx" />
	<add key="UrlServicioConfiguracionCentralizadaDCA" value="http://172.28.1.99/Tcs.ServicioConfiguracionBGR.WS/ConfiguracionCentralizada.asmx" />
	<add key="UrlServicioConfiguracionDCA" value="http://172.28.1.99/Tcs.ServicioConfiguracionBGR.WS/Configuracion.asmx" />
	<add key="ServidorDCA" value="DR" />
	<add key="IdAplicacion" value="3430" />
	<add key="TimeOutServicioConfiguracionCentralizada" value="25000" />
	<add key="TimeOutInterfacesSigloBGRMS" value="40000" />
	<add key="TimeOutServicioReglasNegocio" value="25000" />
	<add key="TimeOutServicioProveedorSecurity" value="40000" />
	<add key="EndPointAnalisisFraude" value="/FraudAnalysis/service/analyze" />
	<add key="EndPointCheckFingerPrint" value="/FraudAnalysis/api/v1/checkFingerprint" />
	<add key="EndPointCheckFingerPrintMovil" value="/FraudAnalysis/api/v1/checkMobileFingerprint" />
	<add key="EndPointUpdateFingerPrint" value="/FraudAnalysis/api/v1/Fingerprint" />
	<add key="EndPointUpdateFingerPrintByHash" value="/FraudAnalysis/api/v1/FingerprintValidByHash" />
	<add key="EndPointGetFingersPrintsByUser" value="/FraudAnalysis/api/v1/getFingerprintListByUserId" />
	<add key="EndPointDeleteFingersPrints" value="/FraudAnalysis/api/v1/DeleteFingerprintByHash" />
	<add key="EndPointLoginSms" value="/vuserver/connector/tokens/sms/login.php"/>
	<add key="EndPointUpdatePhoneNumber" value="vuserver/connector/tokens/sms/update_phone_number.php"/>
	<add key="EndPointRegisterPhone" value="/vuserver/connector/tokens/sms/registration.php"/>
	<add key="EndPointSendSms" value="/vuserver/connector/tokens/sms/send.php"/>
</appSettings>