<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="UrlServicioConfiguracionCentralizada" value="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/ConfiguracionCentralizada.asmx" />
	<add key="UrlServicioConfiguracion" value="http://172.20.41.47/Tcs.ServicioConfiguracionBGR.WS/Configuracion.asmx" />
	<add key="UrlServicioConfiguracionCentralizadaDCA" value="http://172.28.1.99/Tcs.ServicioConfiguracionBGR.WS/ConfiguracionCentralizada.asmx" />
	<add key="UrlServicioConfiguracionDCA" value="http://172.28.1.99/Tcs.ServicioConfiguracionBGR.WS/Configuracion.asmx" />
	<add key="ServidorDCA" value="DR" />
	<add key="IdAplicacion" value="3430" />
	<add key="TimeOutServicioConfiguracionCentralizada" value="25000" />
	<add key="TimeOutInterfacesSigloBGRMS" value="40000" />
	<add key="TimeOutServicioReglasNegocio" value="25000" />
	<add key="TimeOutServicioProveedorSecurity" value="40000" />
	<add key="EndPointBloqueoUsuario" value="/vuserver/connector/tokens/totp/lock.php"/>
	<add key="EndPointA" value="/vuserver/a.php"/>
	<add key="EndPointDesbloquear" value="/vuserver/connector/tokens/totp/unlock.php"/>
	<add key="EndPointDesabilitar" value="/vuserver/connector/tokens/totp/disable.php"/>
	<add key="EndPointRegistrar" value="/vuserver/connector/tokens/totp/registration.php"/>
	<add key="EndPointEliminar" value="/vuserver/connector/tokens/totp/delete.php"/>
	<add key="EndPointEstadoUsuario" value="/vuserver/connector/tokens/users/status_data.php"/>
	<add key="EndPointLogin" value="/vuserver/connector/tokens/totp/login.php"/>
	<add key="EndPointHabilitarUsuario" value="/vuserver/connector/tokens/totp/enable.php"/>
</appSettings>