<?xml version="1.0" encoding="utf-8"?>
    <data defaultProvider="SQLHelper">
      <providers>
        <add name="ODPHelper" type="Tcs.Provider.Data.ODP.ODPHelperWrapper,Tcs.Provider.Data.ODP" />
        <add name="OracleHelper" type="Tcs.Provider.Data.Oracle.OracleHelperWrapper,Tcs.Provider.Data" />
        <add name="SQLHelper" type="Tcs.Provider.Data.SQL.SQLHelperWrapper,Tcs.Provider.Data" />
        <add name="OleDbHelper" type="Tcs.Provider.Data.OleDb.OleDbHelperWrapper,Tcs.Provider.Data" />
        
        <add name="ODPHelperParameterCache" type="Tcs.Provider.Data.ODP.ODPHelperParameterCacheWrapper,Tcs.Provider.Data.ODP" />
        <add name="OracleHelperParameterCache" type="Tcs.Provider.Data.Oracle.OracleHelperParameterCacheWrapper,Tcs.Provider.Data" />
        <add name="SQLHelperParameterCache" type="Tcs.Provider.Data.SQL.SqlHelperParameterCacheWrapper,Tcs.Provider.Data" />
        <add name="OleDbHelperParameterCache" type="Tcs.Provider.Data.OleDb.OleDbHelperParameterCacheWrapper,Tcs.Provider.Data" />
        
        <add name="ODPHelperFactory" type="Tcs.Provider.Data.ODP.ODPHelperFactoryWrapper,Tcs.Provider.Data.ODP" />
        <add name="OleDbHelperFactory" type="Tcs.Provider.Data.OleDb.OleDbHelperFactoryWrapper,Tcs.Provider.Data" />
        <add name="OracleHelperFactory" type="Tcs.Provider.Data.Oracle.OracleHelperFactoryWrapper,Tcs.Provider.Data" />
        <add name="SQLHelperFactory" type="Tcs.Provider.Data.SQL.SqlHelperFactoryWrapper,Tcs.Provider.Data" />
      </providers>
    </data>